<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="box-header-home">
        <p class="phrase">Donde la elegancia se une a la precisión en cada reloj</p>
        <a class="link-collection" href="#">Explora nuestra colección</a>
        <form action="/search" class="search-form" method="get">
          <div class="search-container">
            <input name="query" placeholder="Buscar..." type="text" />
            <i class="bx bx-search-alt"></i>
          </div>
        </form>
    </div>
    <main>
      <section class="container-marcas">
        <h3>Nuestras Marcas Destacadas</h3>
        <div class="slider-container">
          <button class="nav-button nav-prev">
            <i class="bx bxs-chevron-left"></i>
          </button>
          <div class="slider-wrapper">
            <div class="slider-item">
              <a href="#"><img alt="Rolex" src="/images/logos/rolex.png" /></a>
            </div>
            <div class="slider-item">
              <a href="#"><img alt="Omega" src="/images/logos/omega.png" /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img
                  alt="Patek Philippe"
                  src="/images/logos/patekphilippe.png"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"><img alt="Seiko" src="/images/logos/Seiko.jpg" /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img alt="Citizen" src="/images/logos/Citize.jpg"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img alt="Tissot" src="/images/logos/Tissot.png"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img alt="Skagen" src="/images/logos/Skagen.png"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img alt="Lacoste" src="/images/logos/Lacoste.png"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img
                  alt="Audemars Piguet"
                  src="/images/logos/Audemars_Piguet-logo.png"
              /></a>
            </div>
            <div class="slider-item">
              <a href="#"
                ><img alt="Tag Heuer" src="/images/logos/tagHever.png"
              /></a>
            </div>
          </div>
          <button class="nav-button nav-next">
            <i class="bx bxs-chevron-right"></i>
          </button>
        </div>
      </section>
      <section class="container-products">
        <h3>Ofertas Exclusivas</h3>
        <div class="grid-container">
          <article class="card">
            <img
              alt="Rolex Deepsea D-Blue 116660"
              src="/images/productos/hombres/rolexDeepsea.jpg"
            />
            <div class="card-content">
              <h3>Rolex Deepsea D-Blue 116660</h3>
              <p>
                <span class="span-price-original">$19.666</span>
                <span class="span-price--current">$17.699</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Omega Seamaster 007 - Titanio, Marrón"
              src="/images/productos/hombres/omegaSeamaster.jpg"
            />
            <div class="card-content">
              <h3>Omega Seamaster 007 - Titanio</h3>
              <p>
                <span class="span-price-original">$120.00</span>
                <span class="span-price--current">$84.00</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Seiko Neo Classic SUR632P1"
              src="/images/productos/mujeres/SeikoNeoClassic.jpg"
            />
            <div class="card-content">
              <h3>Seiko Neo Classic SUR632P1</h3>
              <p>
                <span class="span-price-original">$204.00</span>
                <span class="span-price--current">$195.00</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="RelojCitizenEco-Drive"
              src="/images/productos/mujeres/RelojCitizenEco-Drive.webp"
            />
            <div class="card-content">
              <h3>Reloj Citizen Eco-Drive para hombre</h3>
              <p>
                <span class="span-price-original">$221.00</span>
                <span class="span-price--current">$154.00</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj clásico esfera azul para hombre Mathey Tissot "
              src="/images/productos/hombres/RelojClasicoEsferaAzulTissot.webp"
            />
            <div class="card-content">
              <h3>Reloj clásico esfera azul Mathey Tissot</h3>
              <p>
                <span class="span-price-original">$370.00</span>
                <span class="span-price--current">$258.00</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj para hombre Skagen multifunción "
              src="/images/productos/hombres/RelojsSkagenMultifuncion.webp"
            />
            <div class="card-content">
              <h3>Reloj para hombre Skagen multifunción</h3>
              <p>
                <span class="span-price-original">$133.00</span>
                <span class="span-price--current">$120.00</span>
              </p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
        </div>
      </section>
      <section class="container-banner">
        <a href="#"
          ><img alt="bannerCartier" src="/images/banners/bannerNiños.png"
        /></a>
      </section>
      <section>
        <h3>Nuevos Lanzamientos para Niños</h3>
        <div class="grid-container">
          <article class="card">
            <img
              alt="Reloj de cuarzo analógico Lacoste"
              src="/images/productos/niños/relojCurzoanalógico.webp"
            />
            <div class="card-content">
              <h3>Reloj de cuarzo analógico Lacoste</h3>
              <p>$25.60</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj Disney Minnie Mouse"
              src="/images/productos/niños/RelojMiniMouse.webp"
            />
            <div class="card-content">
              <h3>Reloj Disney Minnie Mouse</h3>
              <p>$18.95</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj Tikkers con tema de fútbol"
              src="/images/productos/niños/RelojTikkersFultbol.webp"
            />
            <div class="card-content">
              <h3>Reloj Tikkers con tema de fútbol</h3>
              <p>$17.92</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj Tikkers con brillo"
              src="/images/productos/niños/relojTikkersConBrillo.webp"
            />
            <div class="card-content">
              <h3>Reloj Tikkers para niños con brillo</h3>
              <p>$20.65</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Relojes inteligentes impermeables"
              src="/images/productos/niños/RelojImpermeable.webp"
            />
            <div class="card-content">
              <h3>Relojes inteligentes impermeables</h3>
              <p>$16.12</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
          <article class="card">
            <img
              alt="Reloj inteligente con localizador GPS"
              src="/images/productos/niños/RelojInteligenteConGPS.webp"
            />
            <div class="card-content">
              <h3>Reloj inteligente con localizador GPS</h3>
              <p>$17.57</p>
            </div>
            <a href="/productDetail" class="btn-outline">Ver Detalles</a>
          </article>
        </div>
      </section>
      <section class="container-bannerEntrega">
        <img alt="banner de entrega" src="/images/banners/banner2.jpg" />
        <div>
          <i class="bx bxs-truck"></i>
          <p>Envío Gratis</p>
          <span>En compras mayores a $100</span>
        </div>
        <div>
          <i class="bx bx-time"></i>
          <p>Plazo de Entrega</p>
          <span>Recibe en 24 horas</span>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
