<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header', { headerClass: 'header-black'}) %>
    <main>
      <section class="box-form" id="form-forgot-New-password">
        <h1 class="title-users">Crea una nueva contrase単a</h1>
        <form action="">
          <div>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Contrase単a Nueva "
            />
          </div>
          <span class="error">Este campo es obligatorio.</span>
          <div>
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Confirmar Contrase単a nueva"
            />
          </div>
          <span class="error">La contrase単as no coinciden</span>
          <button type="submit" class="btn-submit" id="btn-forgot-New-password">Enviar</button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
