<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header') %>
<main>
  <section class="box-form" id="forgot-password-section">
    <form action="">
      <h1>Recupera tu contraseña</h1>
      <p class="message-forgot-password">
        Ingresa tu correo electrónico para recibir un enlace y restablecer tu
        contraseña.
      </p>
      <div>
        <input type="email" name="email" id="email" placeholder="Email" />
      </div>
      <span class="error"
        >Por favor, introduce una dirección de correo válida.</span
      >
    </form>
  </section>
  <button type="submit" class="btn-forgot-password">Enviar</button>
</main>

<%- include('../partials/footer') %>
<script src="/javascripts/index.js"></script>
</body>
</html>

