<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header') %>
<main>
  <section class="box-form">
    <form action="">
      <h1>Crea una nueva contrase単a</h1>
      <div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Contrase単a Nueva "
        />
      </div>
      <span class="error">Este campo es obligatorio.</span>
      <div>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirmar Contrase単a nueva"
        />
      </div>
      <span class="error">La contrase単as no coinciden</span>
      <button type="submit" class="btn-register">Enviar</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="/javascripts/index.js"></script>
</body>
</html>

