<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header', { headerClass: 'header-black'}) %>
    <main>
      <section class="box-form" id="form-forgot-password">
        <h1 class="title-users">Recupera tu contraseña</h1>
        <form action="">
          <p class="message-forgot-password">
            Ingresa tu correo electrónico para recibir un enlace y restablecer
            tu contraseña.
          </p>
            <input type="email" name="email" id="email" placeholder="Email" />
          <span class="error"
            >Por favor, introduce una dirección de correo válida.</span
          >
          <button id="btn-forgot-password" type="submit" class="btn-submit">
            Enviar
          </button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>
   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
