<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header', { headerClass: 'header-black'}) %>
    <main>
      <section class="box-form">
        <h1 class="title-users">Iniciar Sesión</h1>
        <form action="">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
          />
          <span class="error">Este campo es obligatorio.</span>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            required
          />
          <span class="error">Este campo es obligatorio.</span>
          <label for="terms" class="terms-label">
            <input type="checkbox" id="terms" name="rememberMe" />
            Recordarme
          </label>
          <button type="submit" class="btn-submit">Ingresar</button>
          <p>
            ¿No tienes cuenta?
            <a href="/register" id="link-register">Crea tu cuenta</a>
          </p>
          <p class="link-forgot-password">
            <a href="/users/forgotPassword">¿Olvidaste tu contraseña?</a>
          </p>
          <h3>Ingresar como invitado</h3>
          <button id="btn-invitado-login" type="submit" class="btn-submit">
            Ingresar
          </button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>
