<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1>Carrito de Compras</h1>
      <p class="message-cart">Revisa y confirma tus productos seleccionados.</p>
      <div class="box-sections">
        <section class="box-cart-product">
          <article class="cart-item">
            <div class="product-details">
              <img
                src="/images/productos/hombres/omegaSeamaster.jpg"
                alt="Omega Seamaster"
                class="product-image"
              />
              <div class="product-info">
                <p>Omega Seamaster Diver 007 Edición</p>
              </div>
            </div>
            <div class="price">$84.00</div>
            <div class="quantity">
              <input type="number" value="1" min="1" />
            </div>
            <div class="remove">
              <i class="bx bxs-trash"></i>
            </div>
          </article>
          <div class="cart-actions">
            <a href="/" class="continue-shopping"
              ><i class="bx bx-left-arrow-alt"></i>Seguir Comprando</a
            >
            <a href="#" class="clear-cart">
              <i class="bx bxs-trash"></i>Eliminar Todo</a
            >
          </div>
        </section>
        <section class="box-resumen-product">
          <div>
            <h2>Resumen de la Compra</h2>
            <div class="summary-item">
              <h5>Subtotal</h5>
              <p>$0.00</p>
            </div>
            <div class="summary-item">
              <h5>Impuesto</h5>
              <p>$0.00</p>
            </div>
            <div class="summary-item">
              <h5>Envío</h5>
              <p>$0.00</p>
            </div>
            <div class="summary-item">
              <h4>Total</h4>
              <span>$0.00</span>
            </div>
            <button class="btn-pago">
              <i class="bx bxs-credit-card"></i><span>Finalizar Compra</span>
            </button>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
