<footer>
    <section class="service-section">
      <div class="container-service">
        <div>
          Sobre Nosotros
          <ul>
            <li><a href="#">Historia</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Valores</a></li>
            <li><a href="#">Equipo</a></li>
          </ul>
        </div>
        <div>
          Ayuda
          <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Devoluciones</a></li>
            <li><a href="#">Envíos</a></li>
          </ul>
        </div>
        <div>
          Métodos de pago
          <ul>
            <li><a href="#">Visa</a></li>
            <li><a href="#">MasterCard</a></li>
            <li><a href="#">PayPal</a></li>
            <li><a href="#">ACH</a></li>
            <li><a href="#">Yappy</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="line-with-icons">
      <div class="line"></div>
      <div class="icons">
        <a href="#"><i class="bx bxl-instagram"></i></a>
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-tiktok"></i></a>
        <a href="#"><i class="bx bxl-youtube"></i></a>
        <a href="#"><i class="bx bxl-pinterest"></i></a>
      </div>
      <div class="line"></div>
    </section>
    <div class="logo-Footer">
      <a href="/">EleganceTimeShop</a>
    </div>
    <p class="copy">
      &copy; 2024 EleganceTimeShop. Todos los derechos reservados.
    </p>
  </footer>
