<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="stylesheets/error.css" rel="stylesheet" />
    <link href="stylesheets/index.css" rel="stylesheet" />
    <link href="stylesheets/productDetail.css" rel="stylesheet" />
    <link href="stylesheets/productCart.css" rel="stylesheet" />
    <link href="stylesheets/register.css" rel="stylesheet" />
    <link href="stylesheets/login.css" rel="stylesheet" />
    <link href="stylesheets/forgot-password.css" rel="stylesheet" />
    <link href="stylesheets/creacion.css" rel="stylesheet" />
    <link href="stylesheets/edicion.css" rel="stylesheet" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title><%= title %></title>
  </head>