<header class="<%= headerClass %>">
  <nav class="navbar">
    <div class="logo">
      <a href="/">EleganceTimeShop</a>
    </div>

    <div class="icons">
      <i class="ri-menu-line" id="menu"></i>
      <ul class="navbar-menu-desktop">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Catálogo</a></li>
        <li><a href="#">Marcas</a></li>

        <li class="dropdown">
          <a class="link-menu-categories" href="#" data-bs-toggle="dropdown">
            Categorías
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/products/category/Hombres"
                >Hombres</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/products/category/Mujeres"
                >Mujeres</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/products/category/Niños">Niños</a>
            </li>
          </ul>
        </li>

        <li><a href="/products/offers" class="Offer-link">Ofertas</a></li>

        <li class="dropdown">
          <i class="bx bxs-user" data-bs-toggle="dropdown"></i>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/users/login">Iniciar Sesión</a>
            </li>
            <li>
              <a class="dropdown-item" href="/users/register">Registrarse</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admi/administrar">Administrar</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="cart-icon-container">
        <a href="/users/productCart"><i class="bx bxs-shopping-bag"></i></a>
        <span class="cart-count">1</span>
      </div>
    </div>
  </nav>
</header>
