<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/">EleganceTimeShop</a>
    </div>
    <div class="icons">
      <div class="navbar-menu-desktop">
        <a href="/">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">Categorías</a>
        <a href="#">Ofertas</a>
      </div>
      <i class="bx bxs-user" id="icon-menu-user"></i>
      <div class="menu-user" id="menu-user">
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
        <a href="#">Historial de compras</a>
        <a href="/creacion">Creación de productos</a>
        <a href="/edicion">Edición de productos</a>
      </div>
      <i class="ri-menu-line" id="menu"></i>
      <div class="cart-icon-container">
        <a href="/productCart"><i class="bx bxs-shopping-bag"></i></a>
        <span class="cart-count">1</span>
      </div>
    </div>
  </nav>
  </header>

