.error-500{
 width: 400px;
 padding-top: 100px;
 margin: 0 auto;
}

.title-error{
  margin-top: 20px;
  color: #bf930d;
  font-size: 30px;
}

.description-error{
    font-size: 12px;
    text-align: center;
    margin: 0 40px;
}

.error-continue-shopping{
    text-align: center;
    margin: 40px auto;
    color: #bf930d;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 600px){
    
    .description-error{
        margin: 0 80px;
    }

    .error-500{
        width: 600px;
       }
    
}

@media only screen and (min-width: 1024px){

    .error-500{
        width: 700px;
       }
    
    .description-error{
        margin: 0 150px;
        font-size: 20px;
    }

    .error-continue-shopping{
        font-size: 24px;
    }
    
    
}