.message-forgot-password{
    font-size: 12px;
    text-align: center;
}

.btn-forgot-password{
    background-color: #a78123;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    margin: 40px auto;
    font-size: 16px;
    max-width: 1024;
}