.box-invitado {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-invitado-login {
  background-color: #a78123;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  width: 20%; 
  margin: 15px auto;
  font-size: 16px;
  max-width: 1024px;
}

.btn-invitado-login:hover{
  background-color: #d8ad3f;
}

#link-register,#link-forgot-password {
  padding-left: 10px;
  color: #a78123;
  text-decoration: none;
  cursor: pointer;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: none;
}

