* {
	box-sizing: border-box;
  }
  
  html,
  body {
	height: 100%;
	margin: 0;
  }
  
  body {
	font-family: "Lora", serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-image: url(../images/banners/bannerHeader.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0 20px;
	position: relative;
  }
  
  .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 12px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000000;
	z-index: 1000;
  }
  
  .logo,
  .logo a {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	margin-left: 5px;
	text-decoration: none;
  }
  
  .navbar-menu-desktop {
	display: none;
  }
  
  .icons {
	gap: 16px;
	padding: 2px;
  }
  
  .icons a i , #menu{
	display: flex;
	align-items: center;
	font-size: 16px;
	position: relative;
	cursor: pointer;
  }
  
  .icons a{
	text-decoration: none;
	color: #fff;
  }
  
  .cart-icon-container {
	position: relative;
	display: inline-flex;
	font-size: 24px;
	align-items: center;
  }
  
  .cart-icon-container .cart-count {
	position: absolute;
	top: -10px;
	right: -10px;
	background-color: #a78123;
	color: #fff;
	border-radius: 50%;
	padding: 2px 6px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
  }
  
  .search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 150px;
	opacity: 0.5;
	position: relative;
	border-radius: 5px;
  }
  
  .search-container {
	position: relative;
	width: 85%;
  }
  
  .search-form input {
	border: none;
	padding: 10px;
	padding-right: 35px;
	border-radius: 5px;
	width: 100%;
  }
  
  .bx-search-alt {
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	color: #000000;
  }
  
  .container-phrase {
	background-color: #ffffff;
	position: relative;
	top: 40px;
	width: 85%;
	max-width: 500px;
	margin: 20px auto;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
	text-align: center;
  }
  
  .container-phrase p {
	text-align: center;
	font-size: 14px;
	padding-bottom: 10px;
  }
  
  .container-phrase a {
	color: #a78123;
	text-decoration: none;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .container-phrase .bxs-chevron-down-circle {
	font-size: 40px;
	margin: 8px 70px;
	color: #a78123;
	cursor: pointer;
  }
  
  main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  h3 {
	margin-left: 10px;
  }
  
  .container-marcas {
	margin: 70px 0 20px 0;
  }
  
  .slider-container {
	position: relative;
	width: 100%;
	margin: 10px auto;
	overflow: hidden;
	border: 1px solid #ddd;
	padding: 20px 30px;
  }
  .slider-wrapper {
	display: flex;
	transition: transform 0.3s ease;
  }
  .slider-item {
	min-width: 112px;
	margin: 0 20px;
	text-align: center;
  }
  .slider-item img {
	width: 80px;
	height: auto;
  }
  
  .nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	cursor: pointer;
	z-index: 10;
  }
  
  .nav-prev {
	left: 0;
  }
  
  .nav-next {
	right: 0;
  }
  
  .nav-button i {
	font-size: 24px;
	color: #000;
  }
  
  .nav-button::before {
	content: none;
  }
  
  .container-products {
	margin-bottom: 20px;
  }
  
  .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 5px;
	padding: 5px;
	box-sizing: border-box;
  }
  
  .card {
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	max-width: 100%;
	margin-top: 20px;
	height: 100%;
  }
  
  .card img {
	width: 130px;
	height: 200px;
	object-fit: cover;
	display: block;
	margin: 10px auto;
  }
  
  .card-content {
	padding: 10px;
	text-align: center;
  }
  
  .card-content h3 {
	margin: 5px 0;
	font-size: 12px;
	color: #333;
  }
  
  .card-content p {
	margin: 0 10px;
	font-size: 14px;
	color: #0a0a0a;
	font-weight: bold;
  }
  
  .span-price-original {
	text-decoration: line-through;
	color: red;
	font-size: 12px;
  }
  
  .btn {
	display: flex;
	padding: 6px 10px;
	margin: 0 auto;
	background-color: #a78123;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: 0.5s all ease;
  }
  
  .btn:hover {
	background-color: #d8ad3f;
  }
  
  .btn a {
	color: #ffffff;
	text-decoration: none;
  }
  
  .container-banner {
	margin: 30px 0;
  }
  
  .container-banner img {
	width: 100%;
	height: auto;
	object-fit: cover;
  }
  
  .container-bannerEntrega img {
	width: 100%;
	height: 200px;
	object-fit: cover;
  }
  
  .container-bannerEntrega {
	width: 100%;
	margin: 35px 0 120px 0;
	position: relative;
  }
  
  .container-bannerEntrega div {
	background-color: #ffffff;
	width: 45%;
	min-height: 60px;
	position: absolute;
	top: 150px;
	text-align: center;
	font-size: 14px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
  }
  
  .container-bannerEntrega div i {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .container-bannerEntrega div span {
	font-size: 10px;
	margin-top: 10px;
  }
  .container-bannerEntrega div p {
	color: #a78123;
  }
  
  .container-bannerEntrega div:first-of-type {
	left: 4%;
  }
  
  .container-bannerEntrega div:last-of-type {
	right: 4%;
  }
  
  #container-MessagePagos {
	display: none;
  }
  
  footer {
	background-color: #000;
	width: 100%;
	height: 200px;
	box-sizing: border-box;
	margin-top: auto;
  }
  
  .container-servicios {
	display: flex;
	justify-content: space-around;
	color: #fff;
	font-size: 13px;
	padding: 30px 0;
  }
  
  .line-with-icons {
	display: flex;
	align-items: center;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
  }
  
  .line {
	flex: 1;
	height: 2px;
	background-color: #ffffff;
	margin: 10px auto;
  }
  
  .icons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 5px;
  }
  
  .icons i {
	margin: 0;
	font-size: 17px;
	color: #ffffff;
  }
  
  .logo-Footer {
	text-align: center;
	margin: 20px 0 10px 0;
  }
  
  .logo-Footer a {
	text-decoration: none;
	color: #fff;
  }
  
  .copy {
	color: #fff;
	text-align: center;
	font-size: 9px;
  }
  
  @media only screen and (min-width: 600px) {
	.search-container {
	  position: relative;
	  width: 60%;
	}
  
	.grid-container {
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
  
	.container-servicios {
	  font-size: 16px;
	}
  
	.line-with-icons {
	  max-width: 950px;
	}
  
	.icons {
	  margin: 0 18px;
	  gap: 20px;
	}
  
	.icons a i, #menu{
	  font-size: 20px;
	}
  
	.logo-Footer {
	  font-size: 18px;
	}
  
	.copy {
	  font-size: 12px;
	}
  }
  
  @media only screen and (min-width: 1024px) {
	.navbar {
	  padding: 18px;
	}

	.logo,
  .logo a{
	font-size: 24px;
  }

  
	.navbar-menu-desktop {
	  display: flex;
	  margin: 0;
	  gap: 70px;
	  font-size: 20px;
	}
  
	.navbar-menu-desktop a {
	  color: #ffff;
	  text-decoration: none;
	  display: flex;
	  text-align: center;
	}
  
	#menu {
	  display: none;
	}
  
	.search-container {
	  position: relative;
	  width: 40%;
	}
	
	.container-phrase p {
	  font-size: 16px;
	}
	
	.container-phrase a {
	  font-size: 15px;
	}
	
	.container-phrase .bxs-chevron-down-circle {
	  font-size: 60px
	}  
  
	.grid-container {
	  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	}
  
	.container-servicios {
	  font-size: 20px;
	}
  
	.line-with-icons {
	  max-width: 950px;
	}
  
	.icons {
	  margin: 0 20px;
	  gap: 40px;
	}
  
	.icons a i{
	  font-size: 25px;
	}
  
	.logo-Footer {
	  font-size: 20px;
	}
  
	.copy {
	  font-size: 12px;
	}
  } 