.box-form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 599px;
}

.box-form form {
  width: 80%;
}

.title-users {
  margin: 20px auto;
  text-align: center;
}

input {
  border: 1px solid #aeadad; 
  padding: 8px;
  border-radius: 4px; 
}

input:focus {
  border: 2px solid #aeadad;
  outline: none; 
}


input[type="email"],
input[type="password"], input[type="file"]  {
  width: 100%;
  margin: 10px auto;
  padding: 6px;
}

#eye-icon {
  position: relative;
  top: -40px;
  right: 10px;
  float: right;
  font-size: 15px;
  color: #aeadad;
  cursor: pointer;
  transition: all 0.5s ease;
}

#eye-icon:hover {
  color: rgb(61, 59, 59);
}

input[type="checkbox"] {
  cursor: pointer;
}

.terms-label{
  font-weight: 400;
}

.btn-submit {
  width: 100%;
  margin: 20px auto;
  padding: 6px;
  border: none;
  color: #ffff;
  background-color: #b7b4b4;
  cursor: pointer;
  border-radius: 5px;
  transition: all .5s ease;
}

.btn-submit:hover {
  background-color: #800020;
}

#link-register {
  color: #800020;
  margin-left: 20px;
}

.box-form p,
#link-register,
.link-forgot-password a {
  font-size: 14px;
  text-decoration: none;
}

.link-forgot-password,
.link-forgot-password a {
  color: #000;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.upload-button {
  background-color: #ccc; 
  border: none; 
  color: #333; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.upload-button i {
  margin-right: 5px;
}

.upload-button span {
  font-size: 14px; 
}

.upload-button:hover {
  background-color: #800020; 
  color: #fff;
}

.upload-button:active {
  background-color: #bbb; 
}

.error-input {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
}

/*recuperación de contraseña*/
#form-forgot-password,
#form-forgot-New-password {
  margin-top: 100px;
}

#btn-forgot-password,
#btn-forgot-New-password {
  margin-bottom: 160px;
}

@media only screen and (min-width: 600px) {
  .box-form {
    max-width: 600px;
  }

  .box-form form {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .box-form {
    max-width: 1024px;
  }

  .box-form form {
    width: 70%;
  }

  input:focus {
    border: 4px solid #aeadad;
  }

  input[type="email"],
  input[type="password"] {
    padding: 14px;
    font-size: 20px;
  }

  #eye-icon {
    position: relative;
    top: -50px;
    right: 10px;
    float: right;
    font-size: 18px;
    color: #aeadad;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }

  .box-form p,
  #link-register,
  .link-forgot-password a,
  .terms-label,
  .btn-submit {
    font-size: 20px;
  }

  .link-forgot-password{
    margin-bottom: 70px;
  }

  .error {
    color: red;
    font-size: 16px;
  }
}
