.message-cart {
  color: #800020;
  font-size: 12px;
  text-align: center;
}

.container-cart {
  margin: 0 auto;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #b0afaf;
  margin: 0 auto;
  width: 85%;
  flex-direction: column;
}

.product-details {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 12px auto;
  padding-top: 12px;
  flex-direction: column;
}

.product-image {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.product-info {
  flex: 1;
  font-weight: 700;
  white-space: nowrap;
  font-size: 14px;
}

.price,
.quantity,
.remove {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.quantity input {
  text-align: center;
  padding: 2px;
}

.remove {
  cursor: pointer;
}

.remove:hover {
  color: red;
}

.cart-actions {
  width: 85%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.continue-shopping,
.clear-cart {
  color: #bf930d;
  text-decoration: none;
  font-weight: 500;
}

.clear-cart:hover {
  color: red;
}

.continue-shopping i,
.clear-cart i {
  margin-right: 5px;
}

.box-resumen-product {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #b0afaf;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #b0afaf;
}

.summary-item span {
  font-weight: 600;
  font-size: 16px;
}

.btn-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bf930d;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s all ease;
}

.btn-pago:hover {
  background-color: #d3ad4c;
}

.btn-pago i {
  font-size: 16px;
}

.btn-pago span {
  margin-left: 20px;
  font-size: 14px;
}

@media only screen and (min-width: 600px) {
  .cart-item,
  .product-details {
    flex-direction: column;
    font-size: 14px;
  }

  .box-sections {
    display: flex;
    width: 100%;
  }

  .box-cart-product {
    width: 50%;
  }

  .box-resumen-product {
    width: 40%;
    margin: 20px 30px;
    font-size: 14px;
  }

  .remove {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }

  .message-cart {
    font-size: 16px;
  }

  .cart-item,
  .product-details {
    flex-direction: row;
    font-size: 14px;
  }

  .cart-actions {
    justify-content: space-between;
    font-size: 16px;
  }

  .box-sections {
    display: flex;
    width: 100%;
  }

  .box-cart-product {
    width: 95%;
  }

  .product-info {
    margin: 0 20px;
    font-size: 18px;
  }

  .price,
  .quantity,
  .remove {
    font-size: 18px;
  }

  .box-resumen-product {
    width: 35%;
    margin: 20px 30px;
  }
}
