#bannerHeader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.phrase {
  position: relative;
  padding: 80px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #ddd;
  margin-bottom: 10px;
}

.link-collection {
  position: absolute;
  top: 250px;
  left: 50%;
  padding: 6px;
  font-size: 13px;
  color: #fff;
  background-color: #800020;
  transform: translateX(-50%);
  transition: color 0.2s ease;
  white-space: nowrap;
  border-radius: 6px;
  text-decoration: none;
}

.link-collection:hover {
  background-color: #b42b4d;
}

.link-collection span {
  margin-right: 10px;
}

.bx.bx-right-arrow-alt {
  font-size: 18px;
  vertical-align: middle;
}

.search-form {
  display: flex;
  width: 100%;
  margin: 20px auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  max-width: 500px;
}

.search-container {
  position: relative;
  display: flex;
  width: 90%;
  align-items: center;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 6px 20px;
  border: none;
  border: 1px solid #c4c3c3;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(12, 12, 12, 0.1);
  border-radius: 25px;
  outline: none;
}

.search-container input[type="text"]::placeholder {
  color: #888;
}

.search-container i {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #888;
  cursor: pointer;
}

.bx.bx-search-alt {
  font-size: 18px;
  vertical-align: middle;
}

.no-results-container {
  display: flex;
  height: 400px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-results-icon {
  margin: 10px;
  font-size: 80px;
  color: #999;
}

.message-productNull {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.message-productNull span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

/* Estilos para el contenedor de marcas */
.container-marcas h2 {
  font-size: 18px;
  margin-left: 10px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background: white;
  white-space: nowrap;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100px;
  height: 90%;
  content: "";
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 45s slide infinite linear;
}

.logos-slide img {
  height: 60px;
  margin: 0 20px;
}

/* Estilos para los productos */
.container-products h2 {
  font-size: 18px;
  margin-left: 15px;
}

.container-products {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  width: 95%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  gap: 6px;
}

.few-products-container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, 280px);
}

.card {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 8px;
}

.card img {
  display: block;
  width: 100%;
  height: 200px;
  margin: 10px auto;
  transition: transform 0.9s ease;
  object-fit: contain;
}

.card img:hover {
  transform: scale(1.1);
}

.card-content {
  padding: 10px;
  text-align: start;
}

.card-content h3 {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.card-content p {
  font-size: 16px;
  font-weight: bold;
  color: #0a0a0a;
}

.span-price-original {
  font-size: 12px;
  padding-right: 5px;
}

.span-DiscountPercentage {
  padding: 6px;
  font-size: 12px;
  color: #fff;
  background-color: #800020;
  border-radius: 5px;
}

.btn-group {
  display: flex;
  margin: 0 10px;
}

.btn-group button {
  font-size: 12px;
  color: #fff;
  background-color: #b7b4b4;
  transition: all 0.5s ease;
}

.btn-group button:hover {
  background-color: #800020;
}

.btn-outline {
  display: block;
  width: 130px;
  margin: 10px auto;
  padding: 6px 8px;
  border: none;
  font-size: 13px;
  text-align: start;
  color: #0b0b0b;
  cursor: pointer;
  transition: 0.5s all ease;
  border-radius: 3px;
  white-space: nowrap;
  text-decoration: none;
}

/* Estilos para los banners */
.container-banner {
  position: relative;
  display: flex;
  gap: 20px;
}

.container-category {
  position: relative;
  flex: 1;
}

.container-category img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.title-category {
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.comentarios {
  width: 95%;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.comentarios h2 {
  font-size: 20px;
  margin-top: 0;
}

.comentarios-lista {
  margin-top: 10px;
}

.comentario {
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  align-items: flex-start;
  flex-direction: column;
}

.avatar {
  text-align: center;
  margin-right: 0;
  margin-bottom: 10px;
}

.avatar img {
  width: 40px;
  height: 40px;
}

.contenido {
  overflow: visible;
  font-size: 14px;
}

.contenido h3 {
  font-size: 16px;
  margin-top: 0;
}

.calificacion {
  margin-top: 5px;
}

.calificacion i {
  font-size: 16px;
  color: #ffd700;
  margin-right: 3px;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  .phrase {
    font-size: 16px;
  }

  .search-container {
    position: relative;
    width: 70%;
    margin-top: -8px;
  }

  .search-form input {
    font-size: 16px;
  }

  .no-results-icon {
    font-size: 80px;
  }

  .message-productNull {
    font-size: 30px;
  }

  .message-productNull span {
    font-size: 16px;
  }

  .logos-slide img {
    height: 60px;
    margin: 0 40px;
  }

  .grid-container {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .few-products-container {
    width: 90%;
    grid-template-columns: repeat(auto-fill, 260px);
    gap: 20px;
  }

  .container-category img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .contenido {
    font-size: 15px;
  }
}
/*Escritorio*/
@media only screen and (min-width: 1024px) {
  #bannerHeader {
    height: 600px;
    object-fit: cover;
  }

  .phrase {
    font-size: 50px;
    padding-top: 250px;
  }

  .link-collection {
    width: 300px;
    margin: 250px auto;
    padding: 10px 30px;
    font-size: 20px;
  }

  .search-form {
    margin: 60px auto;
  }

  .search-container {
    width: 100%;
  }

  .search-container input[type="text"] {
    padding: 10px 30px;
    font-size: 20px;
  }

  .search-container i {
    top: 25px;
    right: 12px;
  }

  .bx.bx-search-alt {
    font-size: 24px;
  }

  .no-results-container {
    height: 700px;
  }

  .no-results-icon {
    font-size: 100px;
  }

  .message-productNull {
    font-size: 40px;
  }

  .message-productNull span {
    font-size: 24px;
  }

  .container-marcas h2,
  .container-products h2 {
    margin: 20px 0;
    font-size: 30px;
  }

  .logos-slide img {
    height: 90px;
    margin: 0 80px;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 40px;
  }

  .few-products-container {
    width: 100%;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 20px;
  }

  .card img {
    width: auto;
    height: 200px;
  }

  .card-content h3,
  .card-content p,
  .span-price-original {
    margin: 10px 0;
    font-size: 20px;
  }

  .span-DiscountPercentage {
    padding: 6px;
    font-size: 16px;
  }

  .btn-outline,
  .btn-group button {
    width: 190px;
    font-size: 20px;
  }

  .container-category img {
    width: auto;
    height: 800px;
  }

  .title-category {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 10px 40px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .comentarios {
    width: 100%;
  }

  .comentarios h2 {
    margin: 10px;
    font-size: 30px;
  }

  .comentario {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .avatar img {
    margin: auto 20px;
  }

  .contenido h3 {
    font-size: 24px;
  }

  .contenido {
    font-size: 20px;
  }
}
