<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header') %>
<main>
  <section class="product-create-form">
    <h1>Editar Producto</h1>
    <form action="" enctype="multipart/form-data">
      <div>
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea>
      </div>

      <div>
        <label for="image">Imagen:</label>
        <input type="file" id="image" name="image">
        <img class="image-edition" src="/images/productos/hombres/omegaSeamaster.jpg" alt="Imagen del Producto" >
      </div>

      <div>
        <label for="colors">Colores Disponibles:</label>
        <input
          type="text"
          id="colors"
          name="colors"
          placeholder="Ej: Negro, Blanco, Azul"
        />
      </div>

      <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required />
      </div>

      <div>
        <label>Categoría:</label>
        <div class="radio-group">
          <label class="radio-option">
            <input
              type="radio"
              name="category"
              value="relojes-hombres"
              id="relojes-hombres"
            />
            <span class="radio-label">Relojes para Hombres</span>
          </label>
          <label class="radio-option">
            <input
              type="radio"
              name="category"
              value="relojes-mujeres"
              id="relojes-mujeres"
            />
            <span class="radio-label">Relojes para Mujeres</span>
          </label>
          <label class="radio-option">
            <input
              type="radio"
              name="category"
              value="relojes-ninos"
              id="relojes-ninos"
            />
            <span class="radio-label">Relojes para Niños</span>
          </label>
        </div>
      </div>

      <button type="submit" class="btn-create">Editar Producto</button>
    </form>
  </section>
</main>

<%- include('../partials/footer') %>
<script src="/javascripts/index.js"></script>
</body>
</html>

