<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { pageTitle: title }) %>
  </head>
  <body>
    <%- include('../partials/header') %>
        <main>
            <section class="box-product">
                <article class="article-detail">
                    <div>
                        <img src="/images/productos/hombres/omegaSeamaster.jpg" alt="omega
                            Seamaster" >
                    </div>
                    <div class="box-detail">
                        <h2>Omega Seamaster Diver 007 Edición</h2>
                        <p>
                            Precio: <span class="span-price-original">$120.00</span>
                            <span class="span-price--current">$84.00</span>
                        </p>
                        <p>Disponibilidad: <span class="stock">Artículo en Stock</span></p>
                        <p>Cantidad</p>
                        <button id="decrement" class="counter-button">-</button>
                        <span id="counter">1</span>
                        <button id="increment" class="counter-button">+</button>
                        <button class="btn-cart">
                        <i class="bx bxs-shopping-bag"></i> Añadir al carrito
                        </button>
                    </div>
                </article>
                <div class="Description">
                    <h4>Descripción</h4>
                    <p>
                        Este modelo es exactamente el mismo diseño utilizado por James Bond
                        en la película "007 No Time to Die" de 2020. El estuche y la pulsera
                        de malla están hechos de material de titanio para ser robustos y
                        livianos. El dial de las 6:00 y el fondo de la caja están diseñados
                        con "Broad-Arrow" que muestra la herencia del sentimiento británico,
                        lo que lo hace adecuado para agentes de inteligencia. También tiene
                        un brillo lúdico en verde con solo la manecilla de las horas.
                    </p>
                </div>
                <h4>Resumen del Producto</h4>
                <table>
                    <tr>
                        <th>Marca</th>
                        <td>OMEGA</td>
                    </tr>
                    <tr>
                        <th>Modelo</th>
                        <td>210.90.42.20.01.001</td>
                    </tr>
                    <tr>
                        <th>Caja</th>
                        <td>Titanio, 42 mm</td>
                    </tr>
                    <tr>
                        <th>Banda</th>
                        <td>Titanio, plata</td>
                    </tr>
                    <tr>
                        <th>Dial</th>
                        <td>Marrón, vidrio zafiro</td>
                    </tr>
                    <tr>
                        <th>Movimiento</th>
                        <td>Automático</td>
                    </tr>
                    <tr>
                        <th>Resistencia al agua</th>
                        <td>100 m</td>
                    </tr>
                    <tr>
                        <th>Especial</th>
                        <td>Números romanos, fecha</td>
                    </tr>
                </table>
            </section>
            <section class="box-products-relations">
                <h4>Productos Relacionados</h4>
                <div class="slider-container">
                    <button class="nav-button nav-prev">
                    <i class="bx bxs-chevron-left"></i>
                    </button>
                    <div class="slider-wrapper" id="slider-wrapper-products-relations">
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaEsferaBlanca.jpg"
                                alt="Omega 331.20.42.51.02.001 Esfera Blanca"
                                /></a>
                            <h4> Reloj Omega 331.20.42.51.02.001 de Esfera Blanca</h4>
                            <p>$10.922</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaDeVillePrestigeAceroPlateado.jpg"
                                alt="Omega De Ville Prestige Acero Plateado"
                                /></a>
                            <h4>Omega De Ville Prestige Acero Plateado</h4>
                            <p>$3.888</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaWatchDeVillePrestige.jpg"
                                alt="Omega Watch de Ville prestige E Co-Axial"
                                /></a>
                            <h4>Omega Watch de Ville prestige E Co-Axial</h4>
                            <p>$2.981</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/RelojAutomáticoOmegaDeBillKo-akusyaru.jpg"
                                alt="Reloj automático Omega de Bill ko-akusyaru"
                                /></a>
                            <h4>Reloj automático De Bill ko-akusyaru</h4>
                            <p>$2.981</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaDeVillePrestigeAutomaticoAzul.jpg"
                                alt="Omega De Ville Prestige automatico Azul"
                                /></a>
                            <h4>Omega De Ville Prestige automatico Azul</h4>
                            <p>$4.161</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaDeVilleTrésoRMasterCo-Axial.jpg"
                                alt="Omega De Ville Tréso R Master Co-Axial"
                                /></a>
                            <h4>Omega De Ville Tréso R Master Co-Axial</h4>
                            <p>$13.784</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/RelojOmegaSpeedMasterAnalogDisplayAutomático.jpg"
                                alt="Reloj Omega Speed Master Analog Display automático"
                                /></a>
                            <h4>Reloj Omega Speed Master Analog</h4>
                            <p>$4.918</p>
                        </div>
                        <div class="slider-item">
                            <a href="/productDetail"
                                ><img
                                class="item-products"
                                src="/images/productos/hombres/OmegaRelojAutomáticoConstellationSilverDial.jpg"
                                alt="Omega Reloj Automático Constellation Silver Dial"
                                /></a>
                            <h4>Reloj Omega Automático Constellation Silver Dial</h4>
                            <p>$6.585</p>
                        </div>
                    </div>
                    <button class="nav-button nav-next">
                    <i class="bx bxs-chevron-right"></i>
                    </button>
                </div>
            </section>
        </main>
        
        <%- include('../partials/footer') %>
        <script src="/javascripts/index.js"></script>
        </body>
        </html>
        